Repository openziti/helm-charts, pull requests merged in 2025-03, with the labels that each got.

#310 bump controller and router versions
  charts/ziti-controller/Chart.yaml
  charts/ziti-controller/README.md
  charts/ziti-router/Chart.yaml
  charts/ziti-router/README.md
Labels: notes:ziti-controller, notes:ziti-router

#309 correct the email template references to ingress hosts
  charts/zrok/Chart.yaml
  charts/zrok/README.md
  charts/zrok/templates/controller-ingress.yaml
  charts/zrok/templates/controller-secrets-configmap.yaml
  charts/zrok/values.yaml
Labels: notes:zrok

#318 Minor updates to the ziti-router service template (#281)
  charts/ziti-router/Chart.yaml
  charts/ziti-router/README.md
  charts/ziti-router/templates/service.yaml
Labels: notes:ziti-router

#319 router - rename endpoints file
  charts/ziti-router/Chart.yaml
  charts/ziti-router/README.md
  charts/ziti-router/templates/deployment.yaml
  charts/ziti-router/values.yaml
Labels: notes:ziti-router

#317 optionally use existing issuer instead of making a PKI for edge or web
  charts/ziti-controller/Chart.yaml
  charts/ziti-controller/README.md
  charts/ziti-controller/templates/alt-certificate.yaml
  charts/ziti-controller/templates/ca-bundle.yaml
  charts/ziti-controller/templates/ca-edge-signer.yaml
  charts/ziti-controller/templates/ca-router-ctrl-identity.yaml
  charts/ziti-controller/templates/ca-selfsigned-issuer.yaml
  charts/ziti-controller/templates/ca-web-identity.yaml
  charts/ziti-controller/templates/configmap.yaml
  charts/ziti-controller/templates/deployment.yaml
  charts/ziti-controller/values.yaml
Labels: notes:ziti-controller

#320 doc upgrade path for v2 breaking change
  .github/workflows/miniziti.yml
  charts/ziti-controller/README.md
  charts/ziti-controller/README.md.gotmpl
  charts/ziti-controller/files/chown-cert-manager.bash
Labels: notes:ziti-controller

#311 zrok v1.0.0
  .github/workflows/miniziti.yml
  charts/zrok/Chart.yaml
  charts/zrok/README.md
  charts/zrok/README.md.gotmpl
  charts/zrok/templates/NOTES.txt
  charts/zrok/templates/controller-secrets-configmap.yaml
  charts/zrok/templates/frontend-secrets-configmap.yaml
  charts/zrok/values-ingress-nginx.yaml
  charts/zrok/values.yaml
Labels: notes:zrok

#321 fix the conditional logic for creating the empty selfsigned issuer
  .github/workflows/miniziti.yml
  charts/ziti-controller/Chart.yaml
  charts/ziti-controller/README.md
  charts/ziti-controller/templates/ca-selfsigned-issuer.yaml
Labels: notes:ziti-controller

#322 use doc link
  charts/ziti-controller/README.md
  charts/ziti-controller/values.yaml
Labels: notes:ziti-controller
