Repository openziti/helm-charts, pull requests merged in 2025-02, with the labels that each got.

#298 docs: add missing code-block escapes around curly braces
  charts/ziti-controller/README.md.gotmpl
  charts/ziti-router/values.yaml
Labels: notes:ziti-controller, notes:ziti-router

#300 change default managementApi.containerPort
  charts/ziti-controller/values.yaml
Labels: notes:ziti-controller

#301 Bump controller
  .gitignore
  charts/ziti-controller/Chart.yaml
  charts/ziti-controller/README.md
  charts/ziti-router/README.md
Labels: notes:ziti-controller, notes:ziti-router

#302 bump router version
  charts/ziti-router/Chart.yaml
  charts/ziti-router/README.md
Labels: notes:ziti-router

#297 Add support for affinity/tolerations to pre-delete hook job
  charts/zrok/templates/pre-delete-hook .yaml
Labels: notes:zrok

#306 add inputs for additional properties on link dialers and listeners to…
  charts/ziti-router/Chart.yaml
  charts/ziti-router/README.md
  charts/ziti-router/templates/configmap.yaml
  charts/ziti-router/values.yaml
Labels: notes:ziti-router
