Repository openziti/helm-charts, pull requests merged in 2025-01, with the labels that each got.

#286 bump controller 1.1.16
  charts/ziti-controller/Chart.yaml
  charts/ziti-controller/README.md
  charts/ziti-controller/README.md.gotmpl
  charts/ziti-controller/values.yaml
  charts/ziti-edge-tunnel/README.md
  charts/ziti-router/README.md
Labels: notes:ziti-controller

#288 Add nodeSelector, affinity, and toleration fields for pre-upgrade-job…
  charts/ziti-router/Chart.yaml
  charts/ziti-router/README.md
  charts/ziti-router/templates/pre-upgrade-job.yaml
Labels: notes:ziti-router

#294 bump tunneler version
  charts/ziti-edge-tunnel/Chart.yaml
  charts/ziti-edge-tunnel/README.md
  charts/ziti-host/Chart.yaml
  charts/ziti-host/README.md
Labels: notes:ziti-edge-tunnel, notes:ziti-host

#292 bump controller
  charts/ziti-controller/Chart.yaml
  charts/ziti-controller/README.md
Labels: notes:ziti-controller

#293 bump router
  charts/ziti-router/Chart.yaml
  charts/ziti-router/README.md
Labels: notes:ziti-router

#290 Issue with Pre-Upgrade Hook in Ziti Router Chart When Using ArgoCD
  charts/ziti-router/README.md
  charts/ziti-router/templates/pre-upgrade-configmap.yaml
  charts/ziti-router/templates/pre-upgrade-job.yaml
  charts/ziti-router/templates/pre-upgrade-serviceaccount.yaml
  charts/ziti-router/values.yaml
Labels: notes:ziti-router

#296 Bump router
  charts/ziti-router/Chart.yaml
  charts/ziti-router/README.md
Labels: notes:ziti-router
